<h2 class="title">Burger Party</h2>
<div class="container main-container">
  <div class="row">
    <div class="col burger">
      <div class="row">
        <ul class="list-unstyled">
          <label class="bun top">top bun</label>
          <li *ngFor="let item of burger">
            <label class="bun">{{item}}</label>
          </li>
          <label class="bun bot">bot bun</label>
        </ul>
      </div>
      <div class="row">
        <div class="line"></div>
        <div>Price: RM{{price | number : '1.2-2'}}</div>
      </div>
    </div>
    <div class="col forms">
      <form [formGroup]="registrationForm" class="form">
        <div class="row right-stuff">
          <div class="col-2 item">Chicken<br>(RM 2.00)</div>
          <div class="col-5 control">
            <button class="button minus" (click)="minus1()">-</button>
            <input formControlName="item1" type="text" class="input" [readonly]="true">
            <button class="button plus" (click)="plus1()">+</button>
          </div>
        </div>
        <div class="row right-stuff">
          <div class="col-2 item">Meat<br>(RM 2.00)</div>
          <div class="col-5 control">
            <button class="button minus" (click)="minus2()">-</button>
            <input formControlName="item2" type="text" class="input" [readonly]="true">
            <button class="button plus" (click)="plus2()">+</button>
          </div>
        </div>
        <div class="row right-stuff">
          <div class="col-2 item">Vegetable<br>(RM 0.50)</div>
          <div class="col-5 control">
            <button class="button minus" (click)="minus3()">-</button>
            <input formControlName="item3" type="text" class="input" [readonly]="true">
            <button class="button plus" (click)="plus3()">+</button>
          </div>
        </div>
        <div class="row right-stuff">
          <div class="col-2 item">Cheese<br>(RM 1.00)</div>
          <div class="col-5 control">
            <button class="button minus" (click)="minus4()">-</button>
            <input formControlName="item4" type="text" class="input" [readonly]="true">
            <button class="button plus" (click)="plus4()">+</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>